.git
**/.git
**/target
.sdk/
.qa/
**/node_modules
**/.omo

.env
.env.*
!.env.example
**/*.db
session.json

models/
**/models
client/src-tauri/binaries
client/src-tauri/fonts
client/src-tauri/icons
client/src-tauri/gen
client/tree-ui
client/ui
npm/
image/
wiki/
.github/
**/*.md
!docs/respire.md
!docs/respire-readonly.md
!docs/respire-off.md
