openapi: 3.0.3
info:
  title: Respire sync server
  version: 1.0.0
  description: >
    Ciphertext store plus auth. The server never decrypts payloads.
    CLI and other clients talk to these paths. Admin UI routes are omitted.
servers:
  - url: https://api.rsrs.rs
    description: Assigned Respire API endpoint; configuration only, not proof of DNS or deployment.
  - url: http://127.0.0.1:8787
    description: Local development server.
paths:
  /health:
    get:
      summary: Liveness
      responses:
        "200":
          description: Process is up
  /ready:
    get:
      summary: Database ready
      responses:
        "200":
          description: Schema reachable
        "503":
          description: Database unavailable
  /register:
    post:
      summary: Create account and session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user, pass_hash]
              properties:
                user: { type: string }
                pass_hash: { type: string }
                salt: { type: string }
                device_name: { type: string }
      responses:
        "200": { description: Session issued }
        "409": { description: User exists }
  /login:
    post:
      summary: Password login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user, pass_hash]
              properties:
                user: { type: string }
                pass_hash: { type: string }
                device_name: { type: string }
      responses:
        "200": { description: Session issued }
        "401": { description: Bad credentials }
  /login/totp:
    post:
      summary: Complete TOTP login
      responses:
        "200": { description: Session issued }
        "401": { description: Bad TOTP }
  /forgot:
    post:
      summary: Start password reset
      responses:
        "200": { description: Accepted }
  /reset:
    post:
      summary: Finish password reset
      responses:
        "200": { description: Password updated }
  /push:
    post:
      summary: Push one ciphertext blob (v1)
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Stored }
  /push/batch:
    post:
      summary: Push a v1 batch
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Replaced ids }
        "413": { description: Batch too large }
  /pull:
    get:
      summary: Pull blobs since a cursor (v1)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: since
          schema: { type: integer }
      responses:
        "200": { description: Blob page }
  /forget:
    post:
      summary: Tombstone one id
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: deleted true/false }
  /count:
    get:
      summary: Alive blob count
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Count }
  /max:
    get:
      summary: Max updated_at
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Timestamp }
  /sync/capabilities:
    get:
      summary: Sync protocol flags
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Capabilities }
  /v2/push/batch:
    post:
      summary: Sync v2 push with epoch
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Ack }
        "409": { description: Epoch conflict }
  /v2/pull:
    get:
      summary: Sync v2 incremental page
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: epoch
          required: true
          schema: { type: string }
        - in: query
          name: after
          required: true
          schema: { type: integer }
        - in: query
          name: until
          schema: { type: integer }
      responses:
        "200": { description: Page }
  /v2/snapshot:
    get:
      summary: Sync v2 snapshot page
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Page }
  /v2/conflicts/resolve:
    post:
      summary: Resolve sync conflicts
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Applied }
  /v2/conflicts/resolutions:
    get:
      summary: List conflict resolutions
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Page }
  /api/self/vault:
    get:
      summary: Read wrapped vault material
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Vault fields }
    post:
      summary: Write wrapped vault material
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Stored }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
