openapi: 3.0.3
info:
  title: Respire sync server
  version: 1.0.0
  description: >
    Ciphertext store plus auth. The server never decrypts payloads.
    CLI and other clients talk to these paths. This is a partial sync/self API
    schema; Admin JSON routes are not yet fully described. Frontends are owned by
    respire-site. See ../docs/browser-api-contract.md for the cross-origin
    GET/POST + Authorization/Content-Type contract and staged rollout.
servers:
  - url: https://api.rsrs.rs
    description: Assigned Respire API endpoint; configuration only, not proof of DNS or deployment.
  - url: http://127.0.0.1:8787
    description: Local development server.
paths:
  /oauth/device/code:
    post:
      summary: Start OAuth device authorization for the public Respire CLI
      description: RFC 8628 device grant. The dashboard origin comes from RESPIRE_DASHBOARD_URL, defaulting to https://dash.rsrs.rs. Development deployments must set their own dashboard origin.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [client_id]
              properties:
                client_id: { type: string, enum: [respire-cli] }
                device_name: { type: string, maxLength: 128, default: CLI }
                expected_user: { type: string, maxLength: 256 }
      responses:
        "200":
          description: Ten-minute, single-use grant. Display and compare user_code before approving in the dashboard. Keep device_code private.
          content:
            application/json:
              schema:
                type: object
                required: [device_code, user_code, verification_uri, verification_uri_complete, expires_in, interval]
                properties:
                  device_code: { type: string }
                  user_code: { type: string, pattern: '^[A-F0-9]{12}$' }
                  verification_uri: { type: string, format: uri }
                  verification_uri_complete: { type: string, format: uri }
                  expires_in: { type: integer, enum: [600] }
                  interval: { type: integer, enum: [5] }
        "400": { description: invalid_request or invalid_client }
  /oauth/token:
    post:
      summary: Exchange an approved OAuth device grant once
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [client_id, grant_type, device_code]
              properties:
                client_id: { type: string, enum: [respire-cli] }
                grant_type: { type: string, enum: ['urn:ietf:params:oauth:grant-type:device_code'] }
                device_code: { type: string }
      responses:
        "200":
          description: Normal account session, revocable through the sessions API. No refresh token is issued. Never put access_token in a browser URL.
          content:
            application/json:
              schema:
                type: object
                required: [access_token, token_type, user, session_id]
                properties:
                  access_token: { type: string }
                  token_type: { type: string, enum: [Bearer] }
                  user: { type: string }
                  session_id: { type: string }
        "400": { description: authorization_pending, slow_down, access_denied, expired_token, invalid_grant, invalid_request, invalid_client or unsupported_grant_type. Increase the polling interval by five seconds for slow_down. }
  /api/self/cli-authorization/{code}:
    parameters:
      - { name: code, in: path, required: true, schema: { type: string, pattern: '^[A-Fa-f0-9]{12}$' } }
    get:
      summary: Inspect a pending CLI authorization without exposing its private device code
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Device name, expected account, remaining expiry and state }
        "404": { description: Grant expired or unavailable }
    post:
      summary: Explicitly approve or deny the CLI authorization as the signed-in account
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approve]
              properties:
                approve: { type: boolean }
      responses:
        "200": { description: Decision recorded; no super password is sent to the server }
        "403": { description: Readonly sessions cannot authorize another session }
        "409": { description: Grant expired, already decided or expected a different account }
  /api/self/totp/disable:
    post:
      summary: Disable TOTP after verifying its current code, preserving existing sessions
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string, pattern: '^[0-9]{6}$' }
      responses:
        "200": { description: TOTP disabled; existing login sessions remain valid }
        "400": { description: Invalid TOTP code; binding and session remain intact }
        "401": { description: Missing or invalid session token }
  /api/self/memories:
    get:
      summary: Bounded ciphertext snapshot or incremental browser page
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: epoch, in: query, required: true, schema: { type: string } }
        - { name: after, in: query, required: true, schema: { type: integer, format: int64, minimum: 0 } }
        - { name: until, in: query, schema: { type: integer, format: int64, minimum: 0 } }
        - { name: snapshot, in: query, schema: { type: string, enum: ['0', '1'], default: '0' } }
      responses:
        "200":
          description: At most 100 applied records, targeting 256 KiB; one oversized record is allowed. Retain until across pages.
          content:
            application/json:
              schema:
                type: object
                required: [epoch, until, cursor, has_more, blobs]
                properties:
                  epoch: { type: string }
                  until: { type: integer, format: int64 }
                  cursor: { type: integer, format: int64 }
                  has_more: { type: boolean }
                  blobs:
                    type: array
                    maxItems: 100
                    items:
                      type: object
                      required: [id, ciphertext, nonce, updated_at, deleted]
                      properties:
                        id: { type: string }
                        ciphertext: { type: string }
                        nonce: { type: string }
                        updated_at: { type: string }
                        deleted: { type: boolean }
        "400": { description: Malformed cursor or mode }
        "401": { description: Missing or invalid user bearer }
        "409": { description: Epoch/cursor invalid; code snapshot_required requests a fresh snapshot }
  /health:
    get:
      summary: Liveness and immutable API source revision
      responses:
        "200":
          description: Process is up; source_revision is the compiled server SHA or unknown for unversioned builds.
          content:
            application/json:
              schema:
                type: object
                required: [ok, service, version, source_revision]
                properties:
                  ok: { type: boolean }
                  service: { type: string }
                  version: { type: string }
                  source_revision: { type: string, pattern: "^([0-9a-f]{40}|unknown)$" }
  /ready:
    get:
      summary: Database ready
      responses:
        "200":
          description: Schema reachable
        "503":
          description: Database unavailable
  /register:
    post:
      summary: Create account and session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user, pass_hash]
              properties:
                user: { type: string }
                pass_hash: { type: string }
                salt: { type: string }
                device_name: { type: string }
      responses:
        "200": { description: Session issued }
        "409": { description: User exists }
  /login:
    post:
      summary: Password login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user, pass_hash]
              properties:
                user: { type: string }
                pass_hash: { type: string }
                device_name: { type: string }
      responses:
        "200": { description: Session issued }
        "401": { description: Bad credentials }
  /login/totp:
    post:
      summary: Complete TOTP login
      responses:
        "200": { description: Session issued }
        "401": { description: Bad TOTP }
  /forgot:
    post:
      summary: Start password reset
      responses:
        "200": { description: Accepted }
  /reset:
    post:
      summary: Finish password reset
      responses:
        "200": { description: Password updated }
  /push:
    post:
      summary: Push one ciphertext blob (v1)
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Stored }
  /push/batch:
    post:
      summary: Push a v1 batch
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Replaced ids }
        "413": { description: Batch too large }
  /pull:
    get:
      summary: Pull blobs since a cursor (v1)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: since
          schema: { type: integer }
      responses:
        "200": { description: Blob page }
  /forget:
    post:
      summary: Tombstone one id
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: deleted true/false }
  /count:
    get:
      summary: Alive blob count
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Count }
  /max:
    get:
      summary: Max updated_at
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Timestamp }
  /sync/capabilities:
    get:
      summary: Sync protocol flags
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Capabilities }
  /v2/push/batch:
    post:
      summary: Sync v2 push with epoch
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Ack }
        "409": { description: Epoch conflict }
  /v2/pull:
    get:
      summary: Sync v2 incremental page
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: epoch
          required: true
          schema: { type: string }
        - in: query
          name: after
          required: true
          schema: { type: integer }
        - in: query
          name: until
          schema: { type: integer }
      responses:
        "200": { description: Page }
  /v2/snapshot:
    get:
      summary: Sync v2 snapshot page
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Page }
  /v2/conflicts/resolve:
    post:
      summary: Resolve sync conflicts
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Applied }
  /v2/conflicts/resolutions:
    get:
      summary: List conflict resolutions
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Page }
  /api/self/vault:
    get:
      summary: Read wrapped vault material
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Vault fields }
    post:
      summary: Write wrapped vault material
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Stored }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
